.post-page h1{
	color: #18BC9C;
}

.page-list-tags{
	display: inline;
}

ul.page-list-tags{
	padding-left: 0px;
}

.page-list-tags li{
	list-style-type: none;
	padding: 5px;
	background-color: #2C3E50;
	color: white;
	display: inline;
	margin: 5px;
	border-radius: 5px;
}

i.fa{
	padding-top: 10px;
}

#profile-photo{
  max-height: 15%;
  max-width: 15%;
  border-radius: 200px;
}

.container-full{
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

.email-row{
	text-align: center;
}